@layout('main')

@section('content')
	<h1>{{ post.title }}</h1>
	<hr>
	<p>{{{ post.body }}} </p>
@endsection

@section('css')
	{{-- CSS here --}}
@endsection

@section('script')
	{{-- Script Here --}}
@endsection
