<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ title }}</title>

    <!-- Bootstrap Core CSS -->
    {{ css('vendor/bootstrap/css/bootstrap.min.css') }}

    <!-- MetisMenu CSS -->
    {{ css('vendor/metisMenu/metisMenu.min.css') }}

    <!-- Custom CSS -->
    {{ css('dist/css/sb-admin-2.css') }}

    <!-- Custom Fonts -->
    {{ css('vendor/font-awesome/css/font-awesome.min.css') }}

    @!section('css')

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            {{-- Navbar --}}
            @include('include.navbar')

            {{-- Sidebar --}}
            @include('include.sidebar')
            <!-- /.navbar-static-side -->
        </nav>

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <br>
                <div class="row">
                    <div class="col-md-12">
                        @if(old('notification'))
                            <div class="alert alert-success">
                                {{ old('notification') }}
                            </div>
                        @endif
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        @!section('content')
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    {{ script('vendor/jquery/jquery.min.js') }}

    <!-- Bootstrap Core JavaScript -->
    {{ script('vendor/bootstrap/js/bootstrap.min.js') }}

    <!-- Metis Menu Plugin JavaScript -->
    {{ script('vendor/metisMenu/metisMenu.min.js') }}

    <!-- Custom Theme JavaScript -->
    {{ script('dist/js/sb-admin-2.js') }}

    @!section('script')

</body>

</html>
